div
{
display: inline-block;

}


.red
{

background-color: red;
height: 100px;
width: 100px;
position: relative;

display: inline-block;
left: 200px;
}
.blue
{

background-color: blue;
height: 100px;
width: 100px;
position: relative;
right: 100px;

display: inline-block;



}
.yellow
{

background-color: yellow;
height: 100px;
width: 100px;
position: relative;
right: 100px;


display: inline-block;


}
